[submodule "vendor/double-eighteen"]
	path = vendor/double-eighteen
	url = https://github.com/Digital-Defiance/double-eighteen.git
[submodule "vendor/double-eighteen-react"]
	path = vendor/double-eighteen-react
	url = https://github.com/Digital-Defiance/double-eighteen-react.git
[submodule "vendor/warp12-release-head"]
	path = vendor/warp12-release-head
	url = https://github.com/Digital-Defiance/Warp12-release-head.git
[submodule "vendor/Warp-Admin-Extension"]
	path = vendor/Warp-Admin-Extension
	url = https://github.com/Digital-Defiance/Warp-Admin-Extension.git
