[submodule "Warp12-leaderboard"]
	path = Warp12-leaderboard
	url = https://github.com/Digital-Defiance/Warp12-leaderboard.git
[submodule "vendor/double-eighteen"]
	path = vendor/double-eighteen
	url = https://github.com/Digital-Defiance/double-eighteen.git
